{
  "extends": [
    "@antfu"
  ],

  "rules": {
    "eqeqeq": "off",
    "brace-style": "off",
    "no-console": "off",
    "@typescript-eslint/brace-style": "off",
    "vue/component-tags-order": "off",
    "vue/eqeqeq": "off"
  }
}
